# 아이유팬이 좋아할 만한 다른 아티스트 찾기
### 추천 시스템(Recommender System)
나와 비슷한 다른 사용자들이 좋아하는 것과 비슷한 것을 내게 추천해 준다 
#### 협업 필터링(Collaborative Filtering) 방식
다수의 사용자의 아이템 구매 이력 정보만으로 사용자간 유사성 및 아이템 간 유사성을 파악

아이템과 사용자 간의 행동 또는 관계에만 주목할 뿐 아이템 자체의 고유한 속성에 주목하지 않는다.
#### 콘텐츠 기반 필터링(Contents-based Filtering) 방식
아이템의 고유의 정보를 바탕으로 아이템 간 유사성을 파악

아이템 자체의 속성에만 주목하고 사용자와 아이템 간의 관련성 에는 주목하지 않는다
#### 협업 필터링을 바로 사용할 수 없게 만드는 세가지 제약 조건
- 시스템이 충분한 정보를 모으지 못한 사용자나 아이템에 대한 추론을 할 수 없는 상태인 콜드 스타트(Cold Start) 상황
- 계산량이 너무 많아 추천의 효율이 떨어지는 상황
- 롱테일의 꼬리 부분, 즉 사용자의 관심이 저조한 항목의 정보가 부족하여 추천에서 배제되는 상황

#### 아이템은 매우 많고 유저의 취향은 다양할 떄 유저가 소비할 만한 아이템을 예측하는 모델이 추천 시스템이다

## 데이터 탐색하기와 전처리
데이터에는 컬럼명이 포함되어 있지 않으므로, 아래와 같이 col_names에 적절히 컬럼명을 지정

In [1]:
import pandas as pd
import os

fname = os.getenv('HOME') + '/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play']   # 임의로 지정한 컬럼명
data = pd.read_csv(fname, sep='\t', names= col_names)      # sep='\t'로 주어야 tsv를 열 수 있습니다.  
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

사용하는 컬럼만 남기고 제거

In [2]:
# 사용하는 컬럼만 남겨줍니다.
using_cols = ['user_id', 'artist', 'play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [3]:
#검색을 쉽게 하기 위해 아티스트 문자열을 소문자로 바꿔
data['artist'] = data['artist'].str.lower() # 검색을 쉽게 하기 위해 아티스트 문자열을 소문자로 바꿔줍시다.
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [4]:
#첫 번째 유저가 어떤 아티스트의 노래를 듣는지 확인
condition = (data['user_id']== data.loc[0, 'user_id'])
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

#### 데이터 탐색
- 유저 수, 아티스트 수, 인기 많은 아티스트
- 유저들이 몇 명의 아티스트를 듣고 있는지에 대한 통계
- 유저 play 횟수 중앙값에 대한 통계

(참고) pandas.DataFrame.nunique()은 특정 컬럼에 포함된 유니크한 데이터의 개수를 알아보는데 유용

In [5]:
# 유저 수
data['user_id'].nunique()

358868

In [6]:
# 아티스트 수
data['artist'].nunique()

291346

In [7]:
# 인기 많은 아티스트
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(30)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur rós                28901
green day                28732
massive attack           28691
moby                     28232
Name: user_id, dtype: int64

In [8]:
# 유저별 몇 명의 아티스트를 듣고 있는지에 대한 통계
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [9]:
# 유저별 play횟수 중앙값에 대한 통계
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

#### 모델 검증을 위한 사용자 초기 정보 세팅
우리가 만든 추천 시스템의 추후 검증 과정을 위해, '나는 A를 좋아한다.'라는 정보를 위 데이터셋에 5개 이상 추가해 주어야 함.

좋아하는 유명한 아티스트들을 기존의 데이터에 추가

In [10]:
# 본인이 좋아하시는 아티스트 데이터로 바꿔서 추가하셔도 됩니다! 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요. 
my_favorite = ['black eyed peas' , 'maroon5' ,'jason mraz' ,'coldplay' ,'beyoncé']

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    data = data.append(my_playlist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

data.tail(10)       # 잘 추가되었는지 확인해 봅시다.

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur rós    10
17535654  sep 20, 2008       the smiths    10
0                zimin  black eyed peas    30
1                zimin          maroon5    30
2                zimin       jason mraz    30
3                zimin         coldplay    30
4                zimin          beyoncé    30

#### 모델에 활용하기 위한 전처리
user와 artist 각각에 번호를 붙이는 indexing 작업을 합니다.
 
추천 시스템, 자연어 처리에서 자주 하는 작업

(참고) pandas.DataFrame.unique()은 특정 컬럼에 포함된 유니크한 데이터만 모아 줍니다. indexing 작업을 위해 매우 유용

In [11]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [12]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print(user_to_idx['zimin'])    # 358869명의 유저 중 마지막으로 추가된 유저이니 358868이 나와야 합니다. 
print(artist_to_idx['black eyed peas'])

358868
376

In [13]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

data

user_id column indexing OK!!
artist column indexing OK!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868     376    30
1    358868  270115    30
2    358868    3746    30
3    358868      62    30
4    358868     396    30

[17535660 rows x 3 columns]

## 사용자의 명시적/암묵적 평가
#### 암묵적 피드백 데이터셋의 특징
- 부정적인 피드백이 없다
- 애초에 잡음이 많다.
- 수치는 신뢰도를 의미한다.
- Implicit-feedback Recommender System의 평가는 적절한 방법을 고민해봐야 한다.

In [14]:
# 1회만 play한 데이터의 비율을 보는 코드
only_one = data[data['play']<2]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}') 
# f-format에 대한 설명은 https://bit.ly/2DTLqYU

147740,17535660
Ratio of only_one over all data is 0.84%

## Matrix Factorization(MF, 행렬 분해)
(m,n) 사이즈의 행렬 R을 (m,k) 사이즈의 행렬 P와 (k,n) 사이즈의 행렬 Q로 분해한다면 R이란 그저 P와 Q의 행렬곱으로 표현 가능할 수 있다는 아이디어

k는 m이나 n보다 훨씬 작은 값이기 때문에 계산량 측면으로도 훨씬 유리

아이디어의 단순함에도 불구하고 MF 모델은 성능이 준수하고 Scalability가 좋아서 많이 사용되는 모델

## CSR(Compressed Sparse Row) Matrix
사용하고 계실 컴퓨터의 메모리는 많아야 16GB일 테니 97GB나 되는 거대한 행렬을 메모리에 올려놓고 작업한다는 것은 불가능, 이런 경우의 좋은 대안이 되는 것이 CSR(Compressed Sparse Row) Matrix

CSR Matrix는 Sparse한 matrix에서 0이 아닌 유효한 데이터로 채워지는 데이터의 값과 좌표 정보만으로 구성하여 메모리 사용량을 최소화하면서도 Sparse한 matrix와 동일한 행렬을 표현할 수 있도록 하는 데이터 구조

CSR Matrix는 data, indices, indptr 로 행렬을 압축하여 표현

In [15]:
# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape= (num_user, num_artist))
csr_data

<358869x291347 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Row format>

## MF 모델 학습하기
implicit 패키지는 이전 스텝에서 설명한 암묵적(implicit) dataset을 사용하는 다양한 모델을 굉장히 빠르게 학습할 수 있는 패키지

이 패키지에 구현된 als(AlternatingLeastSquares) 모델을 사용

Matrix Factorization에서 쪼개진 두 Feature Matrix를 한꺼번에 훈련하는 것은 잘 수렴하지 않기 때문에, 한쪽을 고정시키고 다른 쪽을 학습하는 방식을 번갈아 수행하는 AlternatingLeastSquares 방식이 효과적인 것으로 알려져 있다.

In [16]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

- factors : 유저와 아이템의 벡터를 몇 차원으로 할 것인지
- regularization : 과적합을 방지하기 위해 정규화 값을 얼마나 사용할 것인지
- use_gpu : GPU를 사용할 것인지
- iterations : epochs와 같은 의미입니다. 데이터를 몇 번 반복해서 학습할 것인지

1과 4를 늘릴수록 학습 데이터를 잘 학습하게 되지만 과적합의 우려가 있으니 좋은 값을 찾아야 함.

In [17]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [18]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [19]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

- Zimin 벡터와 black eyed peas의 벡터를 어떻게 만들고 있는지
- 두 벡터를 곱하면 어떤 값이 나오는지

In [20]:
zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas']
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

print('슝=3')

슝=3

In [21]:
zimin_vector

array([ 0.8039702 , -1.3538158 ,  0.19322494, -0.61515456, -0.0255734 ,
        0.668688  ,  0.221062  ,  0.32768154,  1.0826072 ,  0.81981987,
        0.40105247,  1.7780246 ,  0.2702248 , -0.6796795 , -0.8302564 ,
        0.26323938,  0.28362858,  0.50267005,  0.448167  ,  0.4145496 ,
        0.29052427,  0.54287976,  0.761158  , -0.09169633,  0.57646185,
       -0.9843685 , -0.39445013,  0.6461321 ,  0.27157328, -0.5500492 ,
        0.05621582, -0.837981  ,  0.820517  ,  0.41748878,  0.02398882,
       -0.7450416 , -1.188102  , -0.402093  , -1.1123505 , -0.04183268,
       -0.50119483,  0.08036307,  0.01594627,  0.44959065,  0.30121264,
       -0.19647917, -0.26043898, -1.259148  ,  0.07523334, -0.34247583,
        0.19121544, -0.1492447 , -1.2825111 ,  0.08665143, -0.6579383 ,
       -0.36609855, -0.15403028,  0.67368275,  0.26014423, -0.27105722,
       -0.8237621 ,  0.33586353,  1.3177516 ,  0.4780406 , -0.7886104 ,
       -0.00338234, -0.07061656, -0.7626253 , -0.47929054,  0.7520388 ,
        0.04629882, -0.3532041 , -0.3556293 , -0.56460994,  0.28158417,
       -0.24540584, -0.5742656 ,  1.7206917 , -0.26902962, -0.5317016 ,
        0.94656825, -1.2739353 ,  0.3089256 ,  0.0945074 , -0.31393245,
        0.20447898,  0.79014236,  0.00590368, -0.11175265, -0.6664513 ,
        0.62788683, -0.35493085,  0.52650917, -0.8007569 ,  0.11728774,
        0.84898037,  1.4936934 ,  0.410882  ,  0.71541166,  0.88981855],
      dtype=float32)

In [22]:
black_eyed_peas_vector

array([ 1.01122595e-02, -4.37333575e-03,  1.09775634e-02, -2.25713383e-03,
        8.07218254e-03,  1.17588192e-02,  7.53091695e-03,  1.18988450e-03,
        8.22809711e-03,  2.76304409e-02, -1.53509097e-03,  2.20161080e-02,
       -3.57818702e-04,  1.29544390e-02, -1.42856771e-02,  8.11502524e-03,
        1.73303578e-02,  1.20907184e-02,  1.86371282e-02,  1.63440742e-02,
       -4.72748885e-03,  7.17133656e-03,  5.60887624e-03, -4.19838587e-04,
        1.91026535e-02, -1.16191702e-02, -9.67067387e-03,  1.36311660e-02,
        8.61182902e-03, -4.13226569e-03,  1.29778432e-02,  1.43233072e-02,
        7.16371462e-03,  8.93105287e-03,  1.81249622e-02, -9.75913741e-03,
       -1.14846546e-02,  2.72983173e-03, -1.54045620e-03,  7.29212537e-03,
       -1.22277075e-02,  1.72362309e-02,  8.82168487e-03,  5.71777309e-05,
        2.41194870e-02,  4.54022130e-03,  5.15450584e-03, -6.30975375e-03,
        1.74291022e-02, -5.67326602e-03,  1.43675115e-02,  1.26393409e-02,
       -8.58919322e-03,  1.23152928e-02, -9.19883081e-04,  5.23108430e-03,
        2.22649779e-02,  3.07850521e-02,  1.97929554e-02,  2.42315885e-03,
       -1.87801924e-02, -3.87229561e-03,  2.85463072e-02,  1.30361803e-02,
       -3.26358899e-03,  1.21817207e-02,  1.30698849e-02, -4.06461814e-03,
       -1.68728195e-02,  2.13024430e-02,  1.52345542e-02,  1.26838125e-02,
       -3.33412929e-04, -9.21999943e-03,  1.65170375e-02, -5.46939857e-03,
       -9.23789944e-03,  1.69532262e-02, -4.56187269e-03,  1.10028572e-02,
        2.12116130e-02, -5.91467088e-03,  1.04290172e-02,  1.16546862e-02,
       -6.89346809e-04,  4.51000547e-03,  2.24260427e-03, -2.77601648e-03,
        6.07449422e-03, -1.18408035e-02,  1.93906985e-02, -1.07604172e-02,
        8.17715656e-04,  6.58307038e-03,  9.43834707e-03,  2.39750575e-02,
        1.38820838e-02,  1.95153127e-03,  2.03522737e-03,  1.89634208e-02],
      dtype=float32)

In [23]:
# zimin과 black_eyed_peas를 내적하는 코드
np.dot(zimin_vector, black_eyed_peas_vector)

0.49118546

모델이 저의 queen에 대한 선호도를 어떻게 예측할지 확인

In [24]:
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

0.3113567

## 비슷한 아티스트 찾기 + 유저에게 추천하기
#### 비슷한 아티스트 찾기
AlternatingLeastSquares 클래스에 구현되어 있는 similar_items 메서드를 통하여 비슷한 아티스트를 찾기

In [25]:
favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(62, 1.0),
 (277, 0.9868435),
 (28, 0.9790089),
 (5, 0.9788992),
 (217, 0.9742237),
 (247, 0.9713931),
 (490, 0.9666869),
 (473, 0.96422416),
 (418, 0.95984715),
 (268, 0.9562464),
 (910, 0.9547438),
 (1018, 0.94831795),
 (75, 0.943823),
 (694, 0.94145375),
 (773, 0.939765)]

(아티스트의 id, 유사도) Tuple 로 반환

아티스트의 id를 다시 아티스트의 이름으로 매핑

In [26]:
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'the killers',
 'red hot chili peppers',
 'radiohead',
 'the beatles',
 'oasis',
 'placebo',
 'u2',
 'pink floyd',
 'nirvana',
 'the smashing pumpkins',
 'queen',
 'foo fighters',
 'nine inch nails']

In [27]:
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

print("슝=3")

슝=3

In [28]:
get_similar_artist('2pac')

['2pac',
 'notorious b.i.g.',
 'dr. dre',
 'nas',
 'the game',
 'snoop dogg',
 'ice cube',
 'ludacris',
 'jay-z',
 'busta rhymes']

#### 마니아는 데이터상에서 표현될 때 특징
- 마니아들은 특정 장르의 아티스트들에게로 선호도가 집중
- 다른 장르의 아티스트들과는 선호도가 낮게 나타날 것
- 이런 마니아들의 존재로 인해 같은 장르의 아티스트들의 벡터들도 더 가까워져서 get_similar_artist시 장르별 특성이 두드러지게 될 것

In [29]:
get_similar_artist('lady gaga')

['lady gaga',
 'britney spears',
 'rihanna',
 'katy perry',
 'beyoncé',
 'the pussycat dolls',
 'christina aguilera',
 'kelly clarkson',
 'leona lewis',
 'nelly furtado']

#### 유저에게 아티스트 추천
AlternatingLeastSquares 클래스에 구현되어 있는 recommend 메서드를 통하여 제가 좋아할 만한 아티스트를 추천

filter_already_liked_items 는 유저가 이미 평가한 아이템은 제외하는 Argument

In [30]:
user = user_to_idx['zimin']
# recommend에서는 user*item CSR Matrix를 받습니다.
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(350, 0.44949588),
 (550, 0.43093443),
 (369, 0.4267748),
 (354, 0.41305247),
 (1800, 0.41050157),
 (627, 0.40997088),
 (2249, 0.4033073),
 (901, 0.40053037),
 (409, 0.39946765),
 (391, 0.39158115),
 (355, 0.3764247),
 (5555, 0.36899674),
 (274, 0.36312228),
 (944, 0.36169854),
 (382, 0.35913324),
 (618, 0.3585473),
 (724, 0.35347018),
 (564, 0.35114634),
 (28, 0.34525383),
 (24, 0.34503633)]

In [31]:
[idx_to_artist[i[0]] for i in artist_recommended]

['rihanna',
 'britney spears',
 'justin timberlake',
 'nelly furtado',
 'lady gaga',
 'maroon 5',
 'katy perry',
 'pink',
 'amy winehouse',
 'christina aguilera',
 'madonna',
 'timbaland',
 'michael jackson',
 'avril lavigne',
 'mika',
 'the pussycat dolls',
 'lily allen',
 'kanye west',
 'the killers',
 'jack johnson']

AlternatingLeastSquares 클래스에 구현된 explain 메서드를 사용하면 제가 기록을 남긴 데이터 중 이 추천에 기여한 정도를 확인할 수 있다

In [32]:
rihanna = artist_to_idx['rihanna']
explain = als_model.explain(user, csr_data, itemid=rihanna)

이 method는 추천한 콘텐츠의 점수에 기여한 다른 콘텐츠와 기여도를 반환

In [33]:
[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('beyoncé', 0.23149388392047363),
 ('black eyed peas', 0.12630972288425962),
 ('coldplay', 0.04838412568590657),
 ('jason mraz', 0.044925042037494096),
 ('maroon5', 0.00015387336538978736)]

# 프로젝트 - Movielens 영화 추천 실습
이번 프로젝트에 활용할 데이터셋은 추천 시스템의 MNIST라고 부를만한 Movielens 데이터
- 유저가 영화에 대해 평점을 매긴 데이터가 데이터 크기 별로 있습니다. MovieLens 1M Dataset 사용을 권장
- 별점 데이터는 대표적인 explicit 데이터입니다. 하지만 implicit 데이터로 간주하고 테스트해 볼 수 있다
- 별점을 시청횟수로 해석해서 생각
- 또한 유저가 3점 미만으로 준 데이터는 선호하지 않는다고 가정하고 제외

### 데이터 준비와 전처리

In [34]:
import os
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

In [35]:
rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291

In [36]:
ratings = ratings[ratings['rating']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [37]:
del ratings['timestamp']

In [38]:
# rating 컬럼의 이름을 count로 바꿉니다.
ratings.rename(columns={'rating':'counts'}, inplace=True)

In [39]:
ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [40]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

In [41]:
movies['title'] = movies['title'].str.lower()
movies.head()

   movie_id                               title                         genre
0         1                    toy story (1995)   Animation|Children's|Comedy
1         2                      jumanji (1995)  Adventure|Children's|Fantasy
2         3             grumpier old men (1995)                Comedy|Romance
3         4            waiting to exhale (1995)                  Comedy|Drama
4         5  father of the bride part ii (1995)                        Comedy

In [42]:
del movies['genre']

In [43]:
movies.head()

   movie_id                               title
0         1                    toy story (1995)
1         2                      jumanji (1995)
2         3             grumpier old men (1995)
3         4            waiting to exhale (1995)
4         5  father of the bride part ii (1995)

In [44]:
title = movies['title'].values
title

array(['toy story (1995)', 'jumanji (1995)', 'grumpier old men (1995)',
       ..., 'tigerland (2000)', 'two family house (2000)',
       'contender, the (2000)'], dtype=object)

In [45]:
movie_id = movies['movie_id'].values
movie_id

array([   1,    2,    3, ..., 3950, 3951, 3952])

In [46]:
movie_dic = { movie_id:title for movie_id, title in zip(movie_id, title) }
movie_dic

{1: 'toy story (1995)',
 2: 'jumanji (1995)',
 3: 'grumpier old men (1995)',
 4: 'waiting to exhale (1995)',
 5: 'father of the bride part ii (1995)',
 6: 'heat (1995)',
 7: 'sabrina (1995)',
 8: 'tom and huck (1995)',
 9: 'sudden death (1995)',
 10: 'goldeneye (1995)',
 11: 'american president, the (1995)',
 12: 'dracula: dead and loving it (1995)',
 13: 'balto (1995)',
 14: 'nixon (1995)',
 15: 'cutthroat island (1995)',
 16: 'casino (1995)',
 17: 'sense and sensibility (1995)',
 18: 'four rooms (1995)',
 19: 'ace ventura: when nature calls (1995)',
 20: 'money train (1995)',
 21: 'get shorty (1995)',
 22: 'copycat (1995)',
 23: 'assassins (1995)',
 24: 'powder (1995)',
 25: 'leaving las vegas (1995)',
 26: 'othello (1995)',
 27: 'now and then (1995)',
 28: 'persuasion (1995)',
 29: 'city of lost children, the (1995)',
 30: 'shanghai triad (yao a yao yao dao waipo qiao) (1995)',
 31: 'dangerous minds (1995)',
 32: 'twelve monkeys (1995)',
 33: 'wings of courage (1995)',
 34: 'babe (1995)',
 35: 'carrington (1995)',
 36: 'dead man walking (1995)',
 37: 'across the sea of time (1995)',
 38: 'it takes two (1995)',
 39: 'clueless (1995)',
 40: 'cry, the beloved country (1995)',
 41: 'richard iii (1995)',
 42: 'dead presidents (1995)',
 43: 'restoration (1995)',
 44: 'mortal kombat (1995)',
 45: 'to die for (1995)',
 46: 'how to make an american quilt (1995)',
 47: 'seven (se7en) (1995)',
 48: 'pocahontas (1995)',
 49: 'when night is falling (1995)',
 50: 'usual suspects, the (1995)',
 51: 'guardian angel (1994)',
 52: 'mighty aphrodite (1995)',
 53: 'lamerica (1994)',
 54: 'big green, the (1995)',
 55: 'georgia (1995)',
 56: 'kids of the round table (1995)',
 57: 'home for the holidays (1995)',
 58: 'postino, il (the postman) (1994)',
 59: 'confessional, the (le confessionnal) (1995)',
 60: 'indian in the cupboard, the (1995)',
 61: 'eye for an eye (1996)',
 62: "mr. holland's opus (1995)",
 63: "don't be a menace to south central while drinking your juice in the hood (1996)",
 64: 'two if by sea (1996)',
 65: 'bio-dome (1996)',
 66: 'lawnmower man 2: beyond cyberspace (1996)',
 67: 'two bits (1995)',
 68: 'french twist (gazon maudit) (1995)',
 69: 'friday (1995)',
 70: 'from dusk till dawn (1996)',
 71: 'fair game (1995)',
 72: 'kicking and screaming (1995)',
 73: 'misérables, les (1995)',
 74: 'bed of roses (1996)',
 75: 'big bully (1996)',
 76: 'screamers (1995)',
 77: 'nico icon (1995)',
 78: 'crossing guard, the (1995)',
 79: 'juror, the (1996)',
 80: 'white balloon, the (badkonake sefid ) (1995)',
 81: "things to do in denver when you're dead (1995)",
 82: "antonia's line (antonia) (1995)",
 83: 'once upon a time... when we were colored (1995)',
 84: 'last summer in the hamptons (1995)',
 85: 'angels and insects (1995)',
 86: 'white squall (1996)',
 87: 'dunston checks in (1996)',
 88: 'black sheep (1996)',
 89: 'nick of time (1995)',
 90: 'journey of august king, the (1995)',
 92: 'mary reilly (1996)',
 93: 'vampire in brooklyn (1995)',
 94: 'beautiful girls (1996)',
 95: 'broken arrow (1996)',
 96: 'in the bleak midwinter (1995)',
 97: 'hate (haine, la) (1995)',
 98: 'shopping (1994)',
 99: 'heidi fleiss: hollywood madam (1995)',
 100: 'city hall (1996)',
 101: 'bottle rocket (1996)',
 102: 'mr. wrong (1996)',
 103: 'unforgettable (1996)',
 104: 'happy gilmore (1996)',
 105: 'bridges of madison county, the (1995)',
 106: 'nobody loves me (keiner liebt mich) (1994)',
 107: 'muppet treasure island (1996)',
 108: 'catwalk (1995)',
 109: 'headless body in topless bar (1995)',
 110: 'braveheart (1995)',
 111: 'taxi driver (1976)',
 112: 'rumble in the bronx (1995)',
 113: 'before and after (1996)',
 114: "margaret's museum (1995)",
 115: 'happiness is in the field (1995)',
 116: 'anne frank remembered (1995)',
 117: "young poisoner's handbook, the (1995)",
 118: 'if lucy fell (1996)',
 119: 'steal big, steal little (1995)',
 120: 'race the sun (1996)',
 121: 'boys of st. vincent, the (1993)',
 122: 'boomerang (1992)',
 123: 'chungking express (1994)',
 124: "star maker, the (uomo delle stelle, l') (1995)",
 125: 'flirting with disaster (1996)',
 126: 'neverending story iii, the (1994)',
 127: 'silence of the palace, the (saimt el qusur) (1994)',
 128: "jupiter's wife (1994)",
 129: 'pie in the sky (1995)',
 130: 'angela (1995)',
 131: 'frankie starlight (1995)',
 132: 'jade (1995)',
 133: 'nueba yol (1995)',
 134: 'sonic outlaws (1995)',
 135: 'down periscope (1996)',
 136: 'from the journals of jean seberg (1995)',
 137: 'man of the year (1995)',
 138: 'neon bible, the (1995)',
 139: 'target (1995)',
 140: 'up close and personal (1996)',
 141: 'birdcage, the (1996)',
 142: 'shadows (cienie) (1988)',
 143: 'gospa (1995)',
 144: 'brothers mcmullen, the (1995)',
 145: 'bad boys (1995)',
 146: 'amazing panda adventure, the (1995)',
 147: 'basketball diaries, the (1995)',
 148: 'awfully big adventure, an (1995)',
 149: 'amateur (1994)',
 150: 'apollo 13 (1995)',
 151: 'rob roy (1995)',
 152: 'addiction, the (1995)',
 153: 'batman forever (1995)',
 154: 'belle de jour (1967)',
 155: 'beyond rangoon (1995)',
 156: 'blue in the face (1995)',
 157: 'canadian bacon (1994)',
 158: 'casper (1995)',
 159: 'clockers (1995)',
 160: 'congo (1995)',
 161: 'crimson tide (1995)',
 162: 'crumb (1994)',
 163: 'desperado (1995)',
 164: 'devil in a blue dress (1995)',
 165: 'die hard: with a vengeance (1995)',
 166: 'doom generation, the (1995)',
 167: 'feast of july (1995)',
 168: 'first knight (1995)',
 169: 'free willy 2: the adventure home (1995)',
 170: 'hackers (1995)',
 171: 'jeffrey (1995)',
 172: 'johnny mnemonic (1995)',
 173: 'judge dredd (1995)',
 174: 'jury duty (1995)',
 175: 'kids (1995)',
 176: 'living in oblivion (1995)',
 177: 'lord of illusions (1995)',
 178: 'love & human remains (1993)',
 179: 'mad love (1995)',
 180: 'mallrats (1995)',
 181: 'mighty morphin power rangers: the movie (1995)',
 182: 'moonlight and valentino (1995)',
 183: 'mute witness (1994)',
 184: 'nadja (1994)',
 185: 'net, the (1995)',
 186: 'nine months (1995)',
 187: 'party girl (1995)',
 188: 'prophecy, the (1995)',
 189: 'reckless (1995)',
 190: 'safe (1995)',
 191: 'scarlet letter, the (1995)',
 192: 'show, the (1995)',
 193: 'showgirls (1995)',
 194: 'smoke (1995)',
 195: 'something to talk about (1995)',
 196: 'species (1995)',
 197: 'stars fell on henrietta, the (1995)',
 198: 'strange days (1995)',
 199: 'umbrellas of cherbourg, the (parapluies de cherbourg, les) (1964)',
 200: 'tie that binds, the (1995)',
 201: 'three wishes (1995)',
 202: 'total eclipse (1995)',
 203: 'to wong foo, thanks for everything! julie newmar (1995)',
 204: 'under siege 2: dark territory (1995)',
 205: 'unstrung heroes (1995)',
 206: 'unzipped (1995)',
 207: 'walk in the clouds, a (1995)',
 208: 'waterworld (1995)',
 209: "white man's burden (1995)",
 210: 'wild bill (1995)',
 211: 'browning version, the (1994)',
 212: 'bushwhacked (1995)',
 213: 'burnt by the sun (utomlyonnye solntsem) (1994)',
 214: 'before the rain (pred dozhdot) (1994)',
 215: 'before sunrise (1995)',
 216: 'billy madison (1995)',
 217: 'babysitter, the (1995)',
 218: 'boys on the side (1995)',
 219: 'cure, the (1995)',
 220: 'castle freak (1995)',
 222: 'circle of friends (1995)',
 223: 'clerks (1994)',
 224: 'don juan demarco (1995)',
 225: 'disclosure (1994)',
 226: 'dream man (1995)',
 227: 'drop zone (1994)',
 228: 'destiny turns on the radio (1995)',
 229: 'death and the maiden (1994)',
 230: 'dolores claiborne (1994)',
 231: 'dumb & dumber (1994)',
 232: 'eat drink man woman (1994)',
 233: 'exotica (1994)',
 234: 'exit to eden (1994)',
 235: 'ed wood (1994)',
 236: 'french kiss (1995)',
 237: 'forget paris (1995)',
 238: 'far from home: the adventures of yellow dog (1995)',
 239: 'goofy movie, a (1995)',
 240: 'hideaway (1995)',
 241: 'fluke (1995)',
 242: 'farinelli: il castrato (1994)',
 243: 'gordy (1995)',
 244: 'gumby: the movie (1995)',
 245: 'glass shield, the (1994)',
 246: 'hoop dreams (1994)',
 247: 'heavenly creatures (1994)',
 248: 'houseguest (1994)',
 249: 'immortal beloved (1994)',
 250: 'heavyweights (1994)',
 251: 'hunted, the (1995)',
 252: 'i.q. (1994)',
 253: 'interview with the vampire (1994)',
 254: 'jefferson in paris (1995)',
 255: 'jerky boys, the (1994)',
 256: 'junior (1994)',
 257: 'just cause (1995)',
 258: "kid in king arthur's court, a (1995)",
 259: 'kiss of death (1995)',
 260: 'star wars: episode iv - a new hope (1977)',
 261: 'little women (1994)',
 262: 'little princess, a (1995)',
 263: 'ladybird ladybird (1994)',
 264: "enfer, l' (1994)",
 265: 'like water for chocolate (como agua para chocolate) (1992)',
 266: 'legends of the fall (1994)',
 267: 'major payne (1994)',
 268: 'little odessa (1994)',
 269: 'my crazy life (mi vida loca) (1993)',
 270: 'love affair (1994)',
 271: 'losing isaiah (1995)',
 272: 'madness of king george, the (1994)',
 273: "mary shelley's frankenstein (1994)",
 274: 'man of the house (1995)',
 275: 'mixed nuts (1994)',
 276: 'milk money (1994)',
 277: 'miracle on 34th street (1994)',
 278: 'miami rhapsody (1995)',
 279: 'my family (1995)',
 280: 'murder in the first (1995)',
 281: "nobody's fool (1994)",
 282: 'nell (1994)',
 283: 'new jersey drive (1995)',
 284: 'new york cop (1996)',
 285: 'beyond bedlam (1993)',
 286: 'nemesis 2: nebula (1995)',
 287: 'nina takes a lover (1994)',
 288: 'natural born killers (1994)',
 289: 'only you (1994)',
 290: 'once were warriors (1994)',
 291: 'poison ivy ii (1995)',
 292: 'outbreak (1995)',
 293: 'professional, the (a.k.a. leon: the professional) (1994)',
 294: 'perez family, the (1995)',
 295: "pyromaniac's love story, a (1995)",
 296: 'pulp fiction (1994)',
 297: 'panther (1995)',
 298: 'pushing hands (1992)',
 299: 'priest (1994)',
 300: 'quiz show (1994)',
 301: 'picture bride (1995)',
 302: 'queen margot (la reine margot) (1994)',
 303: 'quick and the dead, the (1995)',
 304: 'roommates (1995)',
 305: 'ready to wear (pret-a-porter) (1994)',
 306: 'three colors: red (1994)',
 307: 'three colors: blue (1993)',
 308: 'three colors: white (1994)',
 309: 'red firecracker, green firecracker (1994)',
 310: 'rent-a-kid (1995)',
 311: 'relative fear (1994)',
 312: 'stuart saves his family (1995)',
 313: 'swan princess, the (1994)',
 314: 'secret of roan inish, the (1994)',
 315: 'specialist, the (1994)',
 316: 'stargate (1994)',
 317: 'santa clause, the (1994)',
 318: 'shawshank redemption, the (1994)',
 319: 'shallow grave (1994)',
 320: 'suture (1993)',
 321: 'strawberry and chocolate (fresa y chocolate) (1993)',
 322: 'swimming with sharks (1995)',
 324: 'sum of us, the (1994)',
 325: "national lampoon's senior trip (1995)",
 326: 'to live (huozhe) (1994)',
 327: 'tank girl (1995)',
 328: 'tales from the crypt presents: demon knight (1995)',
 329: 'star trek: generations (1994)',
 330: 'tales from the hood (1995)',
 331: 'tom & viv (1994)',
 332: 'village of the damned (1995)',
 333: 'tommy boy (1995)',
 334: 'vanya on 42nd street (1994)',
 335: 'underneath, the (1995)',
 336: 'walking dead, the (1995)',
 337: "what's eating gilbert grape (1993)",
 338: 'virtuosity (1995)',
 339: 'while you were sleeping (1995)',
 340: 'war, the (1994)',
 341: 'double happiness (1994)',
 342: "muriel's wedding (1994)",
 343: 'baby-sitters club, the (1995)',
 344: 'ace ventura: pet detective (1994)',
 345: 'adventures of priscilla, queen of the desert, the (1994)',
 346: 'backbeat (1993)',
 347: 'bitter moon (1992)',
 348: 'bullets over broadway (1994)',
 349: 'clear and present danger (1994)',
 350: 'client, the (1994)',
 351: 'corrina, corrina (1994)',
 352: 'crooklyn (1994)',
 353: 'crow, the (1994)',
 354: 'cobb (1994)',
 355: 'flintstones, the (1994)',
 356: 'forrest gump (1994)',
 357: 'four weddings and a funeral (1994)',
 358: 'higher learning (1995)',
 359: 'i like it like that (1994)',
 360: 'i love trouble (1994)',
 361: 'it could happen to you (1994)',
 362: 'jungle book, the (1994)',
 363: 'wonderful, horrible life of leni riefenstahl, the (die macht der bilder) (1993)',
 364: 'lion king, the (1994)',
 365: 'little buddha (1993)',
 366: "wes craven's new nightmare (1994)",
 367: 'mask, the (1994)',
 368: 'maverick (1994)',
 369: 'mrs. parker and the vicious circle (1994)',
 370: 'naked gun 33 1/3: the final insult (1994)',
 371: 'paper, the (1994)',
 372: 'reality bites (1994)',
 373: 'red rock west (1992)',
 374: 'richie rich (1994)',
 375: 'safe passage (1994)',
 376: 'river wild, the (1994)',
 377: 'speed (1994)',
 378: 'speechless (1994)',
 379: 'timecop (1994)',
 380: 'true lies (1994)',
 381: 'when a man loves a woman (1994)',
 382: 'wolf (1994)',
 383: 'wyatt earp (1994)',
 384: 'bad company (1995)',
 385: 'man of no importance, a (1994)',
 386: 's.f.w. (1994)',
 387: 'low down dirty shame, a (1994)',
 388: 'boys life (1995)',
 389: 'colonel chabert, le (1994)',
 390: 'faster pussycat! kill! kill! (1965)',
 391: "jason's lyric (1994)",
 392: 'secret adventures of tom thumb, the (1993)',
 393: 'street fighter (1994)',
 394: 'coldblooded (1995)',
 395: 'desert winds (1995)',
 396: 'fall time (1995)',
 397: 'fear, the (1995)',
 398: 'frank and ollie (1995)',
 399: 'girl in the cadillac (1995)',
 400: 'homage (1995)',
 401: 'mirage (1995)',
 402: 'open season (1996)',
 403: 'two crimes (1995)',
 404: 'brother minister: the assassination of malcolm x (1994)',
 405: 'highlander iii: the sorcerer (1994)',
 406: 'federal hill (1994)',
 407: 'in the mouth of madness (1995)',
 408: '8 seconds (1994)',
 409: 'above the rim (1994)',
 410: 'addams family values (1993)',
 411: 'you so crazy (1994)',
 412: 'age of innocence, the (1993)',
 413: 'airheads (1994)',
 414: 'air up there, the (1994)',
 415: 'another stakeout (1993)',
 416: 'bad girls (1994)',
 417: 'barcelona (1994)',
 418: 'being human (1993)',
 419: 'beverly hillbillies, the (1993)',
 420: 'beverly hills cop iii (1994)',
 421: 'black beauty (1994)',
 422: 'blink (1994)',
 423: 'blown away (1994)',
 424: 'blue chips (1994)',
 425: 'blue sky (1994)',
 426: 'body snatchers (1993)',
 427: 'boxing helena (1993)',
 428: 'bronx tale, a (1993)',
 429: 'cabin boy (1994)',
 430: 'calendar girl (1993)',
 431: "carlito's way (1993)",
 432: "city slickers ii: the legend of curly's gold (1994)",
 433: 'clean slate (1994)',
 434: 'cliffhanger (1993)',
 435: 'coneheads (1993)',
 436: 'color of night (1994)',
 437: 'cops and robbersons (1994)',
 438: 'cowboy way, the (1994)',
 439: 'dangerous game (1993)',
 440: 'dave (1993)',
 441: 'dazed and confused (1993)',
 442: 'demolition man (1993)',
 443: 'endless summer 2, the (1994)',
 444: 'even cowgirls get the blues (1993)',
 445: 'fatal instinct (1993)',
 446: 'farewell my concubine (1993)',
 447: 'favor, the (1994)',
 448: 'fearless (1993)',
 449: 'fear of a black hat (1993)',
 450: 'with honors (1994)',
 451: 'flesh and bone (1993)',
 452: "widows' peak (1994)",
 453: 'for love or money (1993)',
 454: 'firm, the (1993)',
 455: 'free willy (1993)',
 456: 'fresh (1994)',
 457: 'fugitive, the (1993)',
 458: 'geronimo: an american legend (1993)',
 459: 'getaway, the (1994)',
 460: 'getting even with dad (1994)',
 461: 'go fish (1994)',
 462: 'good man in africa, a (1994)',
 463: 'guilty as sin (1993)',
 464: 'hard target (1993)',
 465: 'heaven & earth (1993)',
 466: 'hot shots! part deux (1993)',
 467: 'live nude girls (1995)',
 468: 'englishman who went up a hill, but came down a mountain, the (1995)',
 469: 'house of the spirits, the (1993)',
 470: 'house party 3 (1994)',
 471: 'hudsucker proxy, the (1994)',
 472: "i'll do anything (1994)",
 473: 'in the army now (1994)',
 474: 'in the line of fire (1993)',
 475: 'in the name of the father (1993)',
 476: 'inkwell, the (1994)',
 477: "what's love got to do with it? (1993)",
 478: 'jimmy hollywood (1994)',
 479: 'judgment night (1993)',
 480: 'jurassic park (1993)',
 481: 'kalifornia (1993)',
 482: 'killing zoe (1994)',
 483: 'king of the hill (1993)',
 484: 'lassie (1994)',
 485: 'last action hero (1993)',
 486: 'life with mikey (1993)',
 487: 'lightning jack (1994)',
 488: 'm. butterfly (1993)',
 489: 'made in america (1993)',
 490: 'malice (1993)',
 491: 'man without a face, the (1993)',
 492: 'manhattan murder mystery (1993)',
 493: 'menace ii society (1993)',
 494: 'executive decision (1996)',
 495: 'in the realm of the senses (ai no corrida) (1976)',
 496: 'what happened was... (1994)',
 497: 'much ado about nothing (1993)',
 498: 'mr. jones (1993)',
 499: 'mr. wonderful (1993)',
 500: 'mrs. doubtfire (1993)',
 501: 'naked (1993)',
 502: 'next karate kid, the (1994)',
 503: 'new age, the (1994)',
 504: 'no escape (1994)',
 505: 'north (1994)',
 506: 'orlando (1993)',
 507: 'perfect world, a (1993)',
 508: 'philadelphia (1993)',
 509: 'piano, the (1993)',
 510: 'poetic justice (1993)',
 511: 'program, the (1993)',
 512: "robert a. heinlein's the puppet masters (1994)",
 513: 'radioland murders (1994)',
 514: 'ref, the (1994)',
 515: 'remains of the day, the (1993)',
 516: 'renaissance man (1994)',
 517: 'rising sun (1993)',
 518: 'road to wellville, the (1994)',
 519: 'robocop 3 (1993)',
 520: 'robin hood: men in tights (1993)',
 521: 'romeo is bleeding (1993)',
 522: 'romper stomper (1992)',
 523: 'ruby in paradise (1993)',
 524: 'rudy (1993)',
 525: 'saint of fort washington, the (1993)',
 526: 'savage nights (nuits fauves, les) (1992)',
 527: "schindler's list (1993)",
 528: 'scout, the (1994)',
 529: 'searching for bobby fischer (1993)',
 530: 'second best (1994)',
 531: 'secret garden, the (1993)',
 532: 'serial mom (1994)',
 533: 'shadow, the (1994)',
 534: 'shadowlands (1993)',
 535: 'short cuts (1993)',
 536: 'simple twist of fate, a (1994)',
 537: 'sirens (1994)',
 538: 'six degrees of separation (1993)',
 539: 'sleepless in seattle (1993)',
 540: 'sliver (1993)',
 541: 'blade runner (1982)',
 542: 'son in law (1993)',
 543: 'so i married an axe murderer (1993)',
 544: 'striking distance (1993)',
 545: 'harlem (1993)',
 546: 'super mario bros. (1993)',
 547: 'surviving the game (1994)',
 548: 'terminal velocity (1994)',
 549: 'thirty-two short films about glenn gould (1993)',
 550: 'threesome (1994)',
 551: 'nightmare before christmas, the (1993)',
 552: 'three musketeers, the (1993)',
 553: 'tombstone (1993)',
 554: 'trial by jury (1994)',
 555: 'true romance (1993)',
 556: 'war room, the (1993)',
 557: 'mamma roma (1962)',
 558: 'pagemaster, the (1994)',
 559: 'paris, france (1993)',
 560: 'beans of egypt, maine, the (1994)',
 561: 'killer (bulletproof heart) (1994)',
 562: 'welcome to the dollhouse (1995)',
 563: 'germinal (1993)',
 564: 'chasers (1994)',
 565: 'cronos (1992)',
 566: 'naked in new york (1994)',
 567: 'kika (1993)',
 568: 'bhaji on the beach (1993)',
 569: 'little big league (1994)',
 570: 'slingshot, the (kådisbellan ) (1993)',
 571: 'wedding gift, the (1994)',
 572: 'foreign student (1994)',
 573: 'ciao, professore! (io speriamo che me la cavo ) (1993)',
 574: 'spanking the monkey (1994)',
 575: 'little rascals, the (1994)',
 576: 'fausto (1993)',
 577: 'andre (1994)',
 578: 'hour of the pig, the (1993)',
 579: 'scorta, la (1993)',
 580: 'princess caraboo (1994)',
 581: 'celluloid closet, the (1995)',
 582: 'metisse (café au lait) (1993)',
 583: 'dear diary (caro diario) (1994)',
 584: "i don't want to talk about it (de eso no se habla) (1993)",
 585: 'brady bunch movie, the (1995)',
 586: 'home alone (1990)',
 587: 'ghost (1990)',
 588: 'aladdin (1992)',
 589: 'terminator 2: judgment day (1991)',
 590: 'dances with wolves (1990)',
 591: 'tough and deadly (1995)',
 592: 'batman (1989)',
 593: 'silence of the lambs, the (1991)',
 594: 'snow white and the seven dwarfs (1937)',
 595: 'beauty and the beast (1991)',
 596: 'pinocchio (1940)',
 597: 'pretty woman (1990)',
 598: 'window to paris (1994)',
 599: 'wild bunch, the (1969)',
 600: 'love and a .45 (1994)',
 601: "wooden man's bride, the (wu kui) (1994)",
 602: 'great day in harlem, a (1994)',
 603: 'bye bye, love (1995)',
 604: 'criminals (1996)',

In [47]:
ratings.head()

   user_id  movie_id  counts
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

In [48]:
ratings_movie_id = ratings['movie_id'].values
ratings_movie_id

array([1193,  661,  914, ...,  562, 1096, 1097])

In [49]:
2 in movie_dic.keys()

True

In [50]:
movie_dic[2]

'jumanji (1995)'

In [51]:
ratings_movie_name = []
for i in ratings_movie_id:
    if i in movie_dic.keys():
        ratings_movie_name.append(movie_dic[i])

In [52]:
ratings_movie_name

["one flew over the cuckoo's nest (1975)",
 'james and the giant peach (1996)',
 'my fair lady (1964)',
 'erin brockovich (2000)',
 "bug's life, a (1998)",
 'princess bride, the (1987)',
 'ben-hur (1959)',
 'christmas story, a (1983)',
 'snow white and the seven dwarfs (1937)',
 'wizard of oz, the (1939)',
 'beauty and the beast (1991)',
 'gigi (1958)',
 'miracle on 34th street (1947)',
 "ferris bueller's day off (1986)",
 'sound of music, the (1965)',
 'airplane! (1980)',
 'tarzan (1999)',
 'bambi (1942)',
 'awakenings (1990)',
 'big (1988)',
 'pleasantville (1998)',
 'wallace & gromit: the best of aardman animation (1996)',
 'back to the future (1985)',
 "schindler's list (1993)",
 'meet joe black (1998)',
 'pocahontas (1995)',
 'e.t. the extra-terrestrial (1982)',
 'titanic (1997)',
 'ponette (1996)',
 'close shave, a (1995)',
 'antz (1998)',
 'girl, interrupted (1999)',
 'hercules (1997)',
 'aladdin (1992)',
 'mulan (1998)',
 'hunchback of notre dame, the (1996)',
 'last days of disco, the (1998)',
 'cinderella (1950)',
 'sixth sense, the (1999)',
 'apollo 13 (1995)',
 'toy story (1995)',
 'rain man (1988)',
 'driving miss daisy (1989)',
 'run lola run (lola rennt) (1998)',
 'star wars: episode iv - a new hope (1977)',
 'mary poppins (1964)',
 'dumbo (1941)',
 'to kill a mockingbird (1962)',
 'saving private ryan (1998)',
 'secret garden, the (1993)',
 'toy story 2 (1999)',
 'fargo (1996)',
 'dead poets society (1989)',
 'shine (1996)',
 'verdict, the (1982)',
 'shall we dance? (shall we dansu?) (1996)',
 'courage under fire (1996)',
 'untouchables, the (1987)',
 'mission: impossible (1996)',
 'few good men, a (1992)',
 'star wars: episode i - the phantom menace (1999)',
 'rebel without a cause (1955)',
 'total recall (1990)',
 'hustler, the (1961)',
 'star wars: episode vi - return of the jedi (1983)',
 'u.s. marshalls (1998)',
 'jackal, the (1997)',
 'gladiator (2000)',
 'double jeopardy (1999)',
 'yojimbo (1961)',
 'ran (1985)',
 'awakenings (1990)',
 'snake eyes (1998)',
 'fisher king, the (1991)',
 'mister roberts (1955)',
 'day the earth stood still, the (1951)',
 'hunt for red october, the (1990)',
 'outbreak (1995)',
 'simon birch (1998)',
 'stand and deliver (1987)',
 'maverick (1994)',
 'stand by me (1986)',
 'green mile, the (1999)',
 'lost world: jurassic park, the (1997)',
 'gandhi (1982)',
 'strictly ballroom (1992)',
 'league of their own, a (1992)',
 'bodyguard, the (1992)',
 'braveheart (1995)',
 'ronin (1998)',
 'payback (1999)',
 'spanish prisoner, the (1997)',
 'close encounters of the third kind (1977)',
 'terminator 2: judgment day (1991)',
 'alien: resurrection (1997)',
 'guns of navarone, the (1961)',
 "soldier's story, a (1984)",
 'on the waterfront (1954)',
 'picnic (1955)',
 'misérables, les (1998)',
 'american beauty (1999)',
 'amadeus (1984)',
 'saving private ryan (1998)',
 'remains of the day, the (1993)',
 'demolition man (1993)',
 'children of a lesser god (1986)',
 'like water for chocolate (como agua para chocolate) (1992)',
 'last of the mohicans, the (1992)',
 'bonnie and clyde (1967)',
 'jurassic park (1993)',
 'prefontaine (1997)',
 'doctor zhivago (1965)',
 'groundhog day (1993)',
 'die hard 2 (1990)',
 "one flew over the cuckoo's nest (1975)",
 'man in the iron mask, the (1998)',
 'star trek vi: the undiscovered country (1991)',
 'enemy of the state (1998)',
 'key largo (1948)',
 'dances with wolves (1990)',
 'star wars: episode v - the empire strikes back (1980)',
 'con air (1997)',
 'twister (1996)',
 'raiders of the lost ark (1981)',
 'silence of the lambs, the (1991)',
 'waking ned devine (1998)',
 'ghostbusters ii (1989)',
 'matrix, the (1999)',
 'armageddon (1998)',
 'shakespeare in love (1998)',
 'serpico (1973)',
 'french connection, the (1971)',
 'conspiracy theory (1997)',
 'what about bob? (1991)',
 'rocky (1976)',
 'kramer vs. kramer (1979)',
 'ed wood (1994)',
 'on golden pond (1981)',
 'chariots of fire (1981)',
 'desperado (1995)',
 'die hard: with a vengeance (1995)',
 'pleasantville (1998)',
 'true lies (1994)',
 'october sky (1999)',
 'clear and present danger (1994)',
 'fugitive, the (1993)',
 "sophie's choice (1982)",
 'gone with the wind (1939)',
 'getaway, the (1994)',
 'fifth element, the (1997)',
 'thelma & louise (1991)',
 'under siege (1992)',
 "guess who's coming to dinner (1967)",
 'grapes of wrath, the (1940)',
 'independence day (id4) (1996)',
 'mr. jones (1993)',
 'spartacus (1960)',
 'lethal weapon 3 (1992)',
 'driving miss daisy (1989)',
 'as good as it gets (1997)',
 'indochine (1992)',
 'mask of zorro, the (1998)',
 'shawshank redemption, the (1994)',
 'to kill a mockingbird (1962)',
 'man with the golden arm, the (1955)',
 'manhattan (1979)',
 'forrest gump (1994)',
 'dead poets society (1989)',
 'graduate, the (1967)',
 'animal house (1978)',
 'mission: impossible (1996)',
 'raising arizona (1987)',
 '28 days (2000)',
 'happy gilmore (1996)',
 'golden child, the (1986)',
 'star wars: episode vi - return of the jedi (1983)',
 'beverly hills ninja (1997)',
 'naked gun: from the files of police squad!, the (1988)',
 'fish called wanda, a (1988)',
 'being john malkovich (1999)',
 'edge, the (1997)',
 'indiana jones and the last crusade (1989)',
 'stand by me (1986)',
 'dragonheart (1996)',
 'blade (1998)',
 'men in black (1997)',
 'star wars: episode iv - a new hope (1977)',
 'american beauty (1999)',
 'toy story 2 (1999)',
 'ghost and the darkness, the (1996)',
 'three musketeers, the (1993)',
 'jurassic park (1993)',
 'unforgiven (1992)',
 'rock, the (1996)',
 'star wars: episode v - the empire strikes back (1980)',
 'dances with wolves (1990)',
 "bug's life, a (1998)",
 'princess bride, the (1987)',
 'raiders of the lost ark (1981)',
 'young guns (1988)',
 'silence of the lambs, the (1991)',
 'young guns ii (1990)',
 'caddyshack (1980)',
 'butch cassidy and the sundance kid (1969)',
 'back to the future (1985)',
 'crocodile dundee (1986)',
 'easy rider (1969)',
 'rain man (1988)',
 'blazing saddles (1974)',
 'mask of zorro, the (1998)',
 'deliverance (1972)',
 'indiana jones and the temple of doom (1984)',
 'breakfast club, the (1985)',
 'monty python and the holy grail (1974)',
 'little mermaid, the (1989)',
 'hustler, the (1961)',
 'star wars: episode vi - return of the jedi (1983)',
 'fistful of dollars, a (1964)',
 'alien (1979)',
 'die hard (1988)',
 'star wars: episode iv - a new hope (1977)',
 'saving private ryan (1998)',
 'jurassic park (1993)',
 'raiders of the lost ark (1981)',
 'rocky (1976)',
 'e.t. the extra-terrestrial (1982)',
 'thelma & louise (1991)',
 'mad max (1979)',
 'king kong (1933)',
 'jaws (1975)',
 'good, the bad and the ugly, the (1966)',
 'run lola run (lola rennt) (1998)',
 'goldfinger (1964)',
 'terminator, the (1984)',
 'who framed roger rabbit? (1988)',
 'gods and monsters (1998)',
 'delicatessen (1991)',
 'clueless (1995)',
 'velvet goldmine (1998)',
 'love! valour! compassion! (1997)',
 'citizen ruth (1996)',
 'donnie brasco (1997)',
 'wings of the dove, the (1997)',
 'bound (1996)',
 'mrs. dalloway (1997)',
 'bowfinger (1999)',
 'before sunrise (1995)',
 'four days in september (1997)',
 'orlando (1993)',
 'bridge on the river kwai, the (1957)',
 'piano, the (1993)',
 'richard iii (1995)',
 'hunt for red october, the (1990)',
 'pokémon the movie 2000 (2000)',
 'being john malkovich (1999)',
 'seven (se7en) (1995)',
 'south park: bigger, longer and uncut (1999)',
 'pulp fiction (1994)',
 'celluloid closet, the (1995)',
 'l.a. confidential (1997)',
 'cold comfort farm (1995)',
 'priest (1994)',
 'ravenous (1999)',
 'x-files: fight the future, the (1998)',
 'don juan demarco (1995)',
 'death and the maiden (1994)',
 'insider, the (1999)',
 'american beauty (1999)',
 'beautiful thing (1996)',
 'remains of the day, the (1993)',
 'usual suspects, the (1995)',
 'paris is burning (1990)',
 'sleepy hollow (1999)',
 'speed (1994)',
 'enemy of the state (1998)',
 'all about my mother (todo sobre mi madre) (1999)',
 'thin red line, the (1998)',
 'faculty, the (1998)',
 "bug's life, a (1998)",
 'pecker (1998)',
 'pillow book, the (1995)',
 'out of sight (1998)',
 'silence of the lambs, the (1991)',
 'waking ned devine (1998)',
 'ghostbusters (1984)',
 'liar liar (1997)',
 'matrix, the (1999)',
 'player, the (1992)',
 'crumb (1994)',
 'creepshow (1982)',
 'good will hunting (1997)',
 'topsy-turvy (1999)',
 'edward scissorhands (1990)',
 'ice storm, the (1997)',
 'trick (1999)',
 'mystery men (1999)',
 'pi (1998)',
 "there's something about mary (1998)",
 'go (1999)',
 'night of the living dead (1968)',
 'wild reeds (1994)',
 'men with guns (1997)',
 'shawshank redemption, the (1994)',
 'living in oblivion (1995)',
 'go fish (1994)',
 'fargo (1996)',
 "jackie chan's first strike (1996)",
 'office killer (1997)',
 'mrs. brown (her majesty, mrs. brown) (1997)',
 'sweet hereafter, the (1997)',
 'fast, cheap & out of control (1997)',
 'strawberry and chocolate (fresa y chocolate) (1993)',
 'poseidon adventure, the (1972)',
 'goodfellas (1990)',
 'love and death on long island (1997)',
 'election (1999)',
 'grosse pointe blank (1997)',
 'fight club (1999)',
 'all over me (1997)',
 'washington square (1997)',
 'north by northwest (1959)',
 'men in black (1997)',
 'babe: pig in the city (1998)',
 'jackie brown (1997)',
 "jacob's ladder (1990)",
 'three kings (1999)',
 'casino (1995)',
 'like water for chocolate (como agua para chocolate) (1992)',
 "billy's hollywood screen kiss (1997)",
 'smoke (1995)',
 'nightmare before christmas, the (1993)',
 "romy and michele's high school reunion (1997)",
 'incredibly true adventure of two girls in love, the (1995)',
 'happiness (1998)',
 'austin powers: international man of mystery (1997)',
 'reservoir dogs (1992)',
 'howards end (1992)',
 'maltese falcon, the (1941)',
 'kundun (1997)',
 'erin brockovich (2000)',
 'final destination (2000)',
 'waiting for guffman (1996)',
 'big lebowski, the (1998)',
 'afterglow (1997)',
 'little voice (1998)',
 'my life in pink (ma vie en rose) (1997)',
 'mariachi, el (1992)',
 'wizard of oz, the (1939)',
 'shanghai noon (2000)',
 'rushmore (1998)',
 'austin powers: the spy who shagged me (1999)',
 'dick (1999)',
 'big night (1996)',
 'fear and loathing in las vegas (1998)',
 'opposite of sex, the (1998)',
 'madness of king george, the (1994)',
 'bullets over broadway (1994)',
 'cruise, the (1998)',
 'city of lost children, the (1995)',
 'welcome to the dollhouse (1995)',
 'glengarry glen ross (1992)',
 'fifth element, the (1997)',
 'nowhere (1997)',
 'thelma & louise (1991)',
 'much ado about nothing (1993)',
 "boys don't cry (1999)",
 'sixth sense, the (1999)',
 'run lola run (lola rennt) (1998)',
 'misery (1990)',
 'twelve monkeys (1995)',
 'rosencrantz and guildenstern are dead (1990)',
 'high art (1998)',
 'bob roberts (1992)',
 "but i'm a cheerleader (1999)",
 'babe (1995)',
 'dead man walking (1995)',
 'dead man (1995)',
 'romancing the stone (1984)',
 'top gun (1986)',
 'gone in 60 seconds (2000)',
 "pete's dragon (1977)",
 'anastasia (1997)',
 'sound of music, the (1965)',
 'gladiator (2000)',
 'lion king, the (1994)',
 "murphy's romance (1985)",
 'moonstruck (1987)',
 'maverick (1994)',
 'pocahontas (1995)',
 'jeremiah johnson (1972)',
 'strictly ballroom (1992)',
 'outlaw josey wales, the (1976)',
 'aladdin (1992)',
 'toy story (1995)',
 'to gillian on her 37th birthday (1996)',
 'speed (1994)',
 'dances with wolves (1990)',
 'beauty and the beast (1991)',
 'pretty woman (1990)',
 'wyatt earp (1994)',
 'other sister, the (1999)',
 'arthur (1981)',
 'hercules (1997)',
 "my best friend's wedding (1997)",
 'mask of zorro, the (1998)',
 'little mermaid, the (1989)',
 'mighty ducks, the (1992)',
 'blue hawaii (1961)',
 'gypsy (1962)',
 'tequila sunrise (1988)',
 '28 days (2000)',
 'keeping the faith (2000)',
 'star wars: episode vi - return of the jedi (1983)',
 'patriot, the (2000)',
 'magnum force (1973)',
 'babes in toyland (1961)',
 "prizzi's honor (1985)",
 'roustabout (1964)',
 'room with a view, a (1986)',
 'emma (1996)',
 'apple dumpling gang, the (1975)',
 'west side story (1961)',
 'straight story, the (1999)',
 'legends of the fall (1994)',
 'sense and sensibility (1995)',
 'starman (1984)',
 'benny & joon (1993)',
 'dirty dancing (1987)',
 'casablanca (1942)',
 'umbrellas of cherbourg, the (parapluies de cherbourg, les) (1964)',
 'my fair lady (1964)',
 'erin brockovich (2000)',
 'paulie (1998)',
 'shanghai noon (2000)',
 'peggy sue got married (1986)',
 'shakespeare in love (1998)',
 'splash (1984)',
 'out of africa (1985)',
 'pleasantville (1998)',
 'grease (1978)',
 'gone with the wind (1939)',
 'little big league (1994)',
 'witness (1985)',
 'where the heart is (2000)',
 'mary poppins (1964)',
 'babe (1995)',
 'mission: impossible (1996)',
 'supercop (1992)',
 'total recall (1990)',
 'gladiator (2000)',
 'x-men (2000)',
 'hunt for red october, the (1990)',
 'terminator 2: judgment day (1991)',
 'heat (1995)',
 'demolition man (1993)',
 'rock, the (1996)',
 'speed (1994)',
 'enemy of the state (1998)',
 'star wars: episode v - the empire strikes back (1980)',
 'matrix, the (1999)',
 'true lies (1994)',
 'exorcist, the (1973)',
 'back to the future (1985)',
 'fugitive, the (1993)',
 'face/off (1997)',
 'patriot, the (2000)',
 'backdraft (1991)',
 'in the line of fire (1993)',
 'tomorrow never dies (1997)',
 'patriot games (1992)',
 'men in black (1997)',
 'braveheart (1995)',
 'godfather: part ii, the (1974)',
 'saving private ryan (1998)',
 'jurassic park (1993)',
 'clear and present danger (1994)',
 'thelma & louise (1991)',
 'clueless (1995)',
 'elizabeth (1998)',
 'natural born killers (1994)',
 "mo' better blues (1990)",
 'few good men, a (1992)',
 'donnie brasco (1997)',
 'jerry maguire (1996)',
 'truman show, the (1998)',
 'total recall (1990)',
 'orlando (1993)',
 'philadelphia (1993)',
 'batman: mask of the phantasm (1993)',
 'dead presidents (1995)',
 'moll flanders (1996)',
 'mr. saturday night (1992)',
 'pulp fiction (1994)',
 'green mile, the (1999)',
 'cider house rules, the (1999)',
 'summer of sam (1999)',
 'ronin (1998)',
 'private parts (1997)',
 'terminator 2: judgment day (1991)',
 'last days of disco, the (1998)',
 'amistad (1997)',
 'apollo 13 (1995)',
 'rob roy (1995)',
 'toy story (1995)',
 'poetic justice (1993)',
 'waiting to exhale (1995)',
 'insider, the (1999)',
 'american beauty (1999)',
 'soul food (1997)',
 'groundhog day (1993)',
 'rock, the (1996)',
 'speed (1994)',
 'anna and the king (1999)',
 'thin red line, the (1998)',
 'postino, il (the postman) (1994)',
 'eyes wide shut (1999)',
 'he got game (1998)',
 'matrix, the (1999)',
 'buffalo 66 (1998)',
 "devil's own, the (1997)",
 'dolores claiborne (1994)',
 'people vs. larry flynt, the (1996)',
 'crimson tide (1995)',
 'desperado (1995)',
 'hamlet (1996)',
 'rudy (1993)',
 "william shakespeare's romeo and juliet (1996)",
 "schindler's list (1993)",
 'firm, the (1993)',
 'deconstructing harry (1997)',
 'akira (1988)',
 'ghost in the shell (kokaku kidotai) (1995)',
 'good will hunting (1997)',
 'cyrano de bergerac (1990)',
 'edward scissorhands (1990)',
 'chasing amy (1997)',
 'prince of tides, the (1991)',
 'what dreams may come (1998)',
 'jfk (1991)',
 'mask of zorro, the (1998)',
 'fargo (1996)',
 'heaven & earth (1993)',
 'midnight in the garden of good and evil (1997)',
 'six degrees of separation (1993)',
 'hilary and jackie (1998)',
 'shine (1996)',
 'misérables, les (1995)',
 'malcolm x (1992)',
 'face/off (1997)',
 'bridges of madison county, the (1995)',
 'star wars: episode vi - return of the jedi (1983)',
 'goodfellas (1990)',
 'interview with the vampire (1994)',
 'awakenings (1990)',
 'backdraft (1991)',
 'alive (1993)',
 'scent of a woman (1992)',
 'titanic (1997)',
 'inkwell, the (1994)',
 'patriot games (1992)',
 'north by northwest (1959)',
 'bodyguard, the (1992)',
 'gattaca (1997)',
 'men in black (1997)',
 'braveheart (1995)',
 'taxi driver (1976)',
 'far and away (1992)',
 'girl, interrupted (1999)',
 'cop land (1997)',
 'godfather: part iii, the (1990)',
 'nixon (1995)',
 'saving private ryan (1998)',
 "what's eating gilbert grape (1993)",
 'like water for chocolate (como agua para chocolate) (1992)',
 'casino (1995)',
 'legends of the fall (1994)',
 'sense and sensibility (1995)',
 'beloved (1998)',
 'jurassic park (1993)',
 'my crazy life (mi vida loca) (1993)',
 'true romance (1993)',
 'man in the iron mask, the (1998)',
 'howards end (1992)',
 'kundun (1997)',
 "eve's bayou (1997)",
 'hard-boiled (lashou shentan) (1992)',
 'great expectations (1998)',
 'mariachi, el (1992)',
 'high fidelity (2000)',
 'shakespeare in love (1998)',
 'red violin, the (le violon rouge) (1998)',
 "general's daughter, the (1999)",
 'adventures of priscilla, queen of the desert, the (1994)',
 'powder (1995)',
 'leaving las vegas (1995)',
 'life is beautiful (la vita è bella) (1997)',
 'clear and present danger (1994)',
 'welcome to the dollhouse (1995)',
 'american history x (1998)',
 'cruel intentions (1999)',
 'thelma & louise (1991)',
 'boogie nights (1997)',
 "boys don't cry (1999)",
 'joy luck club, the (1993)',
 'run lola run (lola rennt) (1998)',
 'robin hood: prince of thieves (1991)',
 'arachnophobia (1990)',
 'nell (1994)',
 'dead man walking (1995)',
 'few good men, a (1992)',
 'donnie brasco (1997)',
 'jerry maguire (1996)',
 'truman show, the (1998)',
 'gone in 60 seconds (2000)',
 'philadelphia (1993)',
 'x-men (2000)',
 'wallace & gromit: the best of aardman animation (1996)',
 'mask, the (1994)',
 'seven (se7en) (1995)',
 'green mile, the (1999)',
 'cider house rules, the (1999)',
 'l.a. confidential (1997)',
 'ronin (1998)',
 'clerks (1994)',
 'apollo 13 (1995)',
 'boiler room (2000)',
 'toy story (1995)',
 'insider, the (1999)',
 'american beauty (1999)',
 'meet the parents (2000)',
 'usual suspects, the (1995)',
 'groundhog day (1993)',
 'time to kill, a (1996)',
 'frequency (2000)',
 'speed (1994)',
 'dances with wolves (1990)',
 'rules of engagement (2000)',
 "bug's life, a (1998)",
 'out of sight (1998)',
 'silence of the lambs, the (1991)',
 'matrix, the (1999)',
 'pretty woman (1990)',
 'quiz show (1994)',
 'wedding singer, the (1998)',
 'crumb (1994)',
 'rudy (1993)',
 'cape fear (1991)',
 "schindler's list (1993)",
 'magnolia (1999)',
 'searching for bobby fischer (1993)',
 'fugitive, the (1993)',
 'good will hunting (1997)',
 'close shave, a (1995)',
 'antz (1998)',
 'pi (1998)',
 'chasing amy (1997)',
 "there's something about mary (1998)",
 'as good as it gets (1997)',
 'swingers (1996)',
 'shawshank redemption, the (1994)',
 'fargo (1996)',
 'star trek: first contact (1996)',
 'sling blade (1996)',
 'hurricane, the (1999)',
 'chicken run (2000)',
 'star wars: episode vi - return of the jedi (1983)',
 'goodfellas (1990)',
 'my cousin vinny (1992)',
 'grosse pointe blank (1997)',
 'fight club (1999)',
 'wrong trousers, the (1993)',
 'return to paradise (1998)',
 'titanic (1997)',
 "wayne's world (1992)",
 'league of their own, a (1992)',
 'gattaca (1997)',
 'emma (1996)',
 'contact (1997)',
 'godfather: part ii, the (1974)',
 'grand day out, a (1992)',
 'three kings (1999)',
 'saving private ryan (1998)',
 'toy story 2 (1999)',
 'casino (1995)',
 'jurassic park (1993)',
 'reservoir dogs (1992)',
 'casablanca (1942)',
 'kolya (1996)',
 'erin brockovich (2000)',
 'mission: impossible 2 (2000)',
 'trainspotting (1996)',
 'tango lesson, the (1997)',
 'age of innocence, the (1993)',
 'remember the titans (2000)',
 'big night (1996)',
 'boat, the (das boot) (1981)',
 'when harry met sally... (1989)',
 'leaving las vegas (1995)',
 'life is beautiful (la vita è bella) (1997)',
 'clear and present danger (1994)',
 'gone with the wind (1939)',
 'cutting edge, the (1992)',
 'sixth sense, the (1999)',
 'rain man (1988)',
 'run lola run (lola rennt) (1998)',
 'hype! (1996)',
 'bronx tale, a (1993)',
 "midsummer night's dream, a (1999)",
 'mission: impossible (1996)',
 'star wars: episode i - the phantom menace (1999)',

In [53]:
ratings['name'] = ratings_movie_name

In [54]:
ratings.head()

   user_id  movie_id  counts                                    name
0        1      1193       5  one flew over the cuckoo's nest (1975)
1        1       661       3        james and the giant peach (1996)
2        1       914       3                     my fair lady (1964)
3        1      3408       4                  erin brockovich (2000)
4        1      2355       5                    bug's life, a (1998)

In [55]:
del ratings['movie_id']

In [56]:
ratings.head()

   user_id  counts                                    name
0        1       5  one flew over the cuckoo's nest (1975)
1        1       3        james and the giant peach (1996)
2        1       3                     my fair lady (1964)
3        1       4                  erin brockovich (2000)
4        1       5                    bug's life, a (1998)

### 분석해 봅시다.
- ratings에 있는 유니크한 영화 개수
- ratings에 있는 유니크한 사용자 수
- 가장 인기 있는 영화 30개(인기순)

In [57]:
print(ratings['name'].nunique())

3628

In [58]:
print(movies['movie_id'].nunique())  # ratings에 있는 유니크한 영화 개수

3883

In [59]:
print(ratings['user_id'].nunique())  # rating에 있는 유니크한 사용자 수

6039

In [60]:
# 가장 인기 있는 영화 30개

movies_count = ratings.groupby('name')['user_id'].count()
movies_count.sort_values(ascending=False).head(30)

name
american beauty (1999)                                   3211
star wars: episode iv - a new hope (1977)                2910
star wars: episode v - the empire strikes back (1980)    2885
star wars: episode vi - return of the jedi (1983)        2716
saving private ryan (1998)                               2561
terminator 2: judgment day (1991)                        2509
silence of the lambs, the (1991)                         2498
raiders of the lost ark (1981)                           2473
back to the future (1985)                                2460
matrix, the (1999)                                       2434
jurassic park (1993)                                     2413
sixth sense, the (1999)                                  2385
fargo (1996)                                             2371
braveheart (1995)                                        2314
men in black (1997)                                      2297
schindler's list (1993)                                  2257
princess bride, the (1987)                               2252
shakespeare in love (1998)                               2213
l.a. confidential (1997)                                 2210
shawshank redemption, the (1994)                         2194
godfather, the (1972)                                    2167
groundhog day (1993)                                     2121
e.t. the extra-terrestrial (1982)                        2102
being john malkovich (1999)                              2066
ghostbusters (1984)                                      2051
pulp fiction (1994)                                      2030
forrest gump (1994)                                      2022
terminator, the (1984)                                   2019
toy story (1995)                                         2000
fugitive, the (1993)                                     1941
Name: user_id, dtype: int64

### 내가 선호하는 영화를 5가지 골라서 ratings에 추가해 줍시다

In [61]:
my_favorite = ['jumanji (1995)', 'superman (1978)', 'Walking Dead, The (1995)', 'Lion King, The (1994)', 'Terminator, The (1984)']

In [62]:
my_playlist = pd.DataFrame({'user_id': ['6041']*5, 'name': my_favorite, 'counts': [5]*5})

if not ratings.isin({'user_id': ['6041']})['user_id'].any():
    ratings = ratings.append(my_playlist)
    
ratings.tail(10)

        user_id  counts                               name
1000203    6040       3                     platoon (1986)
1000205    6040       5            crying game, the (1992)
1000206    6040       5    welcome to the dollhouse (1995)
1000207    6040       4             sophie's choice (1982)
1000208    6040       4  e.t. the extra-terrestrial (1982)
0          6041       5                     jumanji (1995)
1          6041       5                    superman (1978)
2          6041       5           Walking Dead, The (1995)
3          6041       5              Lion King, The (1994)
4          6041       5             Terminator, The (1984)

### CSR matrix를 직접 만들어 봅시다.

In [66]:
user_unique = ratings['user_id'].unique()
movie_unique = ratings['name'].unique()

# 유저, 영화 indexing 하는 코드 idx는 index의 약자이다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [67]:
print(user_to_idx['6041'])

6039

In [69]:
print(movie_to_idx['jumanji (1995)'])

513

In [70]:
temp_user_ratings = ratings['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_ratings) == len(ratings):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    ratings['user_id'] = temp_user_ratings   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# movie_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_movie_ratings = ratings['name'].map(movie_to_idx.get).dropna()
if len(temp_movie_ratings) == len(ratings):
    print('movie column indexing OK!!')
    ratings['name'] = temp_movie_ratings
else:
    print('movie column indexing Fail!!')

ratings

user_id column indexing OK!!
movie column indexing OK!!

    user_id  counts  name
0         0       5     0
1         0       3     1
2         0       3     2
3         0       4     3
4         0       5     4
..      ...     ...   ...
0      6039       5   513
1      6039       5   526
2      6039       5  3628
3      6039       5  3629
4      6039       5  3630

[836483 rows x 3 columns]

In [71]:
num_user = ratings['user_id'].nunique()
num_movie = ratings['name'].nunique()

csr_ratings = csr_matrix((ratings.counts, (ratings.user_id, ratings.name)), shape=(num_user, num_movie))
csr_ratings

<6040x3631 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Row format>

### als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련시켜 봅시다.

In [72]:
# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

als_model = AlternatingLeastSquares(factors=1000, regularization=0.01, use_gpu=False, iterations=50, dtype=np.float32)
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_ratings.T
csr_data_transpose

<3631x6040 sparse matrix of type '<class 'numpy.int64'>'
	with 836483 stored elements in Compressed Sparse Column format>

In [73]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/50 [00:00<?, ?it/s]

### 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악해 보세요.

In [74]:
my, jumanji = user_to_idx['6041'], movie_to_idx['jumanji (1995)']
my_vector, jumanji_vector = als_model.user_factors[my], als_model.item_factors[jumanji]

print('슝=3')

슝=3

In [75]:
my_vector
my_vector.shape

(1000,)

In [76]:
jumanji_vector
jumanji_vector.shape

(1000,)

In [77]:
np.dot(my_vector, jumanji_vector)

0.93060285

In [78]:
superman_vector = als_model.item_factors[movie_to_idx['superman (1978)']]
np.dot(my_vector, superman_vector)

0.9783531

## 내가 좋아하는 영화와 비슷한 영화를 추천받아 봅시다.

In [83]:
favorite_movie = 'jumanji (1995)'
movie_id = movie_to_idx[favorite_movie]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

[(513, 1.0),
 (3629, 0.4003732),
 (3628, 0.40025306),
 (3630, 0.39956903),
 (3626, 0.38085127),
 (3592, 0.3776962),
 (3559, 0.37650275),
 (3617, 0.37554482),
 (3373, 0.37511608),
 (3536, 0.37340134),
 (3438, 0.37331635),
 (3472, 0.37307164),
 (3581, 0.37293863),
 (3518, 0.37293682),
 (3479, 0.37270653)]

In [84]:
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
[idx_to_movie[i[0]] for i in similar_movie]

['jumanji (1995)',
 'Lion King, The (1994)',
 'Walking Dead, The (1995)',
 'Terminator, The (1984)',
 'five wives, three secretaries and me (1998)',
 'dangerous game (1993)',
 'zachariah (1971)',
 'slappy and the stinkers (1998)',
 'railroaded! (1947)',
 'last klezmer: leopold kozlowski, his life and music, the (1995)',
 'bonheur, le (1965)',
 'show, the (1995)',
 'death in the garden (mort en ce jardin, la) (1956)',
 'napoleon and samantha (1972)',
 'yankee zulu (1994)']

In [86]:
def get_similar_movie(movie_name: str):
    movie_id = movie_to_idx[movie_name]
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = [idx_to_movie[i[0]] for i in similar_movie]
    return similar_movie

print("슝=3")

슝=3

In [87]:
get_similar_movie('jumanji (1995)')

['jumanji (1995)',
 'Lion King, The (1994)',
 'Walking Dead, The (1995)',
 'Terminator, The (1984)',
 'five wives, three secretaries and me (1998)',
 'dangerous game (1993)',
 'zachariah (1971)',
 'slappy and the stinkers (1998)',
 'railroaded! (1947)',
 'last klezmer: leopold kozlowski, his life and music, the (1995)']

## 내가 가장 좋아할 만한 영화들을 추천받아 봅시다.

In [88]:
user = user_to_idx['6041']
# recommend에서는 user*item CSR Matrix를 받습니다.
movie_recommended = als_model.recommend(user, csr_ratings, N=20, filter_already_liked_items=True)
movie_recommended

[(1130, 0.0852669),
 (763, 0.07443544),
 (714, 0.07352677),
 (596, 0.059247732),
 (2520, 0.058142103),
 (610, 0.055721287),
 (1698, 0.055056192),
 (1238, 0.053806882),
 (1832, 0.05333592),
 (2216, 0.050885875),
 (1267, 0.04955744),
 (328, 0.049378596),
 (1463, 0.049344834),
 (2336, 0.048112806),
 (992, 0.047383435),
 (1829, 0.046763543),
 (410, 0.046703354),
 (518, 0.046692923),
 (2340, 0.04640259),
 (451, 0.045970224)]

In [89]:
[idx_to_movie[i[0]] for i in movie_recommended]

['indian in the cupboard, the (1995)',
 'superman ii (1980)',
 'waterworld (1995)',
 'hook (1991)',
 'it came from hollywood (1982)',
 'trekkies (1997)',
 'rambo: first blood part ii (1985)',
 'mighty joe young (1998)',
 'grand illusion (grande illusion, la) (1937)',
 'max dugan returns (1983)',
 'threesome (1994)',
 "pete's dragon (1977)",
 'bananas (1971)',
 'stalingrad (1993)',
 'live and let die (1973)',
 'happy, texas (1999)',
 "william shakespeare's romeo and juliet (1996)",
 'doctor dolittle (1967)',
 'one magic christmas (1985)',
 'american history x (1998)']

In [96]:
sm = movie_to_idx['indian in the cupboard, the (1995)']
explain = als_model.explain(user, csr_ratings, itemid=kz)

sm

1130

In [97]:
[(idx_to_movie[i[0]], i[1]) for i in explain[1]]

[('jumanji (1995)', 0.08329502584683898),
 ('superman (1978)', 0.01388025902432546),
 ('Lion King, The (1994)', -0.004041199562756514),
 ('Walking Dead, The (1995)', -0.004055344393079078),
 ('Terminator, The (1984)', -0.0041094456691093545)]

# 회고
## 힘들었던 점
데이터 전처리 부분이 어렵게 느껴졌다. 그리고 implicit 패키지는 이전 스텝에서 설명한 암묵적(implicit) dataset을 사용하는 다양한 모델을 굉장히 빠르게 학습할 수 있는 패키지라고 하는데 굉장히 학습이 빨리 되길래 놀랐다.


#### 추천 시스템(Recommender System)
나와 비슷한 다른 사용자들이 좋아하는 것과 비슷한 것을 내게 추천해 준다 
#### 협업 필터링(Collaborative Filtering) 방식
다수의 사용자의 아이템 구매 이력 정보만으로 사용자간 유사성 및 아이템 간 유사성을 파악

아이템과 사용자 간의 행동 또는 관계에만 주목할 뿐 아이템 자체의 고유한 속성에 주목하지 않는다.
#### 콘텐츠 기반 필터링(Contents-based Filtering) 방식
아이템의 고유의 정보를 바탕으로 아이템 간 유사성을 파악

아이템 자체의 속성에만 주목하고 사용자와 아이템 간의 관련성 에는 주목하지 않는다
#### 협업 필터링을 바로 사용할 수 없게 만드는 세가지 제약 조건
- 시스템이 충분한 정보를 모으지 못한 사용자나 아이템에 대한 추론을 할 수 없는 상태인 콜드 스타트(Cold Start) 상황
- 계산량이 너무 많아 추천의 효율이 떨어지는 상황
- 롱테일의 꼬리 부분, 즉 사용자의 관심이 저조한 항목의 정보가 부족하여 추천에서 배제되는 상황

#### 아이템은 매우 많고 유저의 취향은 다양할 떄 유저가 소비할 만한 아이템을 예측하는 모델이 추천 시스템이다

#### Matrix Factorization(MF, 행렬 분해)
(m,n) 사이즈의 행렬 R을 (m,k) 사이즈의 행렬 P와 (k,n) 사이즈의 행렬 Q로 분해한다면 R이란 그저 P와 Q의 행렬곱으로 표현 가능할 수 있다는 아이디어

k는 m이나 n보다 훨씬 작은 값이기 때문에 계산량 측면으로도 훨씬 유리

아이디어의 단순함에도 불구하고 MF 모델은 성능이 준수하고 Scalability가 좋아서 많이 사용되는 모델
#### CSR(Compressed Sparse Row) Matrix
사용하고 계실 컴퓨터의 메모리는 많아야 16GB일 테니 97GB나 되는 거대한 행렬을 메모리에 올려놓고 작업한다는 것은 불가능, 이런 경우의 좋은 대안이 되는 것이 CSR(Compressed Sparse Row) Matrix

CSR Matrix는 Sparse한 matrix에서 0이 아닌 유효한 데이터로 채워지는 데이터의 값과 좌표 정보만으로 구성하여 메모리 사용량을 최소화하면서도 Sparse한 matrix와 동일한 행렬을 표현할 수 있도록 하는 데이터 구조

CSR Matrix는 data, indices, indptr 로 행렬을 압축하여 표현